extends layout

block content
  h1= title
  - let items =results
  div(class="container-fluid")
    div(class="row")
      each item,index in items
        div(class="col-sm-2",onClick=`buy(${index})`)
          p Type is #{item.Ball_Type}
          p Length is #{item.Ball_Weight}
          p Cost is #{item.Ball_Cost}

  //- Bonus Logic
  script.
    function buy(itr) {
      itr = itr+1;
      alert(`You Purchased Item ${itr}`);
    }